# Clerk Authentication
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=

# Google OAuth (Optional - only if using custom credentials)
# EXPO_PUBLIC_GOOGLE_CLIENT_ID=

# Appwrite
EXPO_PUBLIC_APPWRITE_ENDPOINT=
EXPO_PUBLIC_APPWRITE_PROJECT_ID=

# Gemini AI
EXPO_PUBLIC_GEMINI_API_KEY=
